<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CartaDePorte.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <CartaDePorte.Test.Properties.Settings>
      <setting name="CartaDePorte_Test_servicio_cdpSAP" serializeAs="String">
        <value>http://localhost:4790/cdpSAP.asmx</value>
      </setting>
      <setting name="CartaDePorte_Test_ar_gov_afip_fwshomo_CTGService_v3_0"
        serializeAs="String">
        <value>https://fwshomo.afip.gov.ar/wsctg/services/CTGService_v3.0</value>
      </setting>
    </CartaDePorte.Test.Properties.Settings>
  </applicationSettings>

  <appSettings>

    <!--QA-->
    <add key="testRegresoAOrigen" value="true"/>
    <add key="testCambioDestino" value="true"/>
    <add key="testRechazada" value="true"/>

    <add key="Mantenimiento" value="false"/>
    
    <add key="WSUserName" value="XIUser"/>
    <add key="WSPassword" value="XI07service48prod"/>
    <add key="WSDomain" value="irsacorp"/>
    
    <add key="XIUser" value="XIUser"/>
    <add key="XIPassword" value="sap123"/>
    <add key="ReportPath" value="/Reportes/CartaDePorte/CartaDePorteReport"/>
    <add key="UserDomain" value="ShareUserLogSer"/>
    <add key="PassDomain" value=""/>
    <add key="Domain" value="IRSACORP"/>
    <add key="Proxy" value="http://SRV-MS20-ADM:8080"/>
    <add key="UserProxy" value="procmailer"/>
    <add key="PassProxy" value=""/>

    <add key="SMTPHost" value="srv-dc1-aba"/>
    <add key="SMTPPort" value="25"/>
    <add key="AlertaRemitente" value="VDevoto@altopalermo.com.ar"/>
    <add key="AlertaDestinatarios" value="VDevoto@altopalermo.com.ar"/>
    <add key="AlertaCopiaDestinatarios" value="FGiardina@altopalermo.com.ar"/>

    <add key="timer" value="1"/>
    <!--En minutos-->
    <add key="timerToken" value="600"/>
    <!--En minutos-->
    <add key="timerEstadosCDP" value="15"/>
    <!--En minutos-->
    <add key="timerActualizadorAFIP" value="1440"/>
    <!--En minutos-->

    <add key="WSAAServiceURL" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms?WSDL"/>
    <!--<add key="WSAAServiceURL" value="https://wsaa.afip.gov.ar/ws/services/LoginCms?WSDL"/>-->
    <!--PROD-->
    <add key="CTGServiceURL" value="https://fwshomo.afip.gov.ar/wsctg/services/CTGService_v2.0"/>
    <!--<add key="CTGServiceURL" value="https://serviciosjava.afip.gob.ar/wsctg/services/CTGService"/>-->
    <!--PROD-->
    <!--<add key="RutaCertificadop12" value="p:\\proyectos\\net\\CartaDePorte.Service\\CUIT_30509300700.p12"/>-->
    <add key="RutaCertificadop12" value="M:\\CUIT_30509300700_PROD.p12"/>
    <add key="Certificadop12Password" value="30509300700"/>
    <!--<add key="Certificadop12Password" value="123456"/>-->

    <add key="WSAAServiceURL" value="https://wsaa.afip.gov.ar/ws/services/LoginCms?WSDL"/>
    <!--PROD-->
    <add key="CTGServiceURL" value="https://serviciosjava.afip.gob.ar/wsctg/services/CTGService"/>
    <!--PROD-->







    <!--<add key="connString"  value="workstation id=CartaDePorte;Server=srv-rst02-adm;initial catalog=CartaDePorte;User Id=sa;PWD=" />-->
    <add key="connString"  value="server=.\SQL2008R2STD;database=cartadeporte.database;user id=cartadeporte;password=cartadeporte" />
    <!--<add key="connString"  value="workstation id=CartaDePorte;Server=SRV-APP02-ADM;initial catalog=CartaDePorte;User Id=UsrAppCartadePorte;PWD=" />-->








    <!--<add key="URLWSSeguridad" value="http://srv-rst02-adm:8090/WebServices/SecurityProvider.asmx"/>-->
    <add key="URLWSSeguridad" value="http://localhost/SeguridadWS/SecurityProvider.asmx"/>
    <add key="CodigoAplicacion" value="29"/>
    <add key="RutaOriginalCartaDePorte" value="M:\\IRSA\\Proyectos\\CartaDePorte\\CartaDePorte.Web\\Content\\Images\\CartaDePorte\\"/>
    <add key="ReportServerURL" value="http://srv-rst02-adm/ReportServer"/>

    <add key="XIUrl" value="http://srv-xi03-adm:8000/XISOAPAdapter/MessageServlet?channel=:RE_Q:re_d_soap_prefact_sender&amp;version=3.0&amp;Sender.Service=RE_Q&amp;Interface=http%3A%2F%2Firsa.com%2Fxi%2Fre%2Fprefact%5Ere_prefacturas_out_async_MI"/>



  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="cdpSAPSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/CartaDePorte.WS/cdpSAP.asmx"
        binding="basicHttpBinding" bindingConfiguration="cdpSAPSoap"
        contract="wsCDPSAP.cdpSAPSoap" name="cdpSAPSoap" />
    </client>
  </system.serviceModel>
</configuration>