<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>


  <appSettings>
    <add key="LoggingMail" value="sposzalski@cresud.com.ar"/>
		<add key="Mantenimiento" value="false"/>
		<add key="WSUserName" value="XIUser"/>
		<add key="WSPassword" value="XI07service48prod"/>
		<add key="WSDomain" value="irsacorp"/>
		<add key="XIUser" value="XIUser"/>
		<add key="XIPassword" value="sap123"/>
		<add key="ReportPath" value="/Reportes/CartaDePorte/CartaDePorteReport"/>
		<add key="UserDomain" value="ShareUserLogSer"/>
		<add key="PassDomain" value="us3r#y16!aeb"/>
		<add key="Domain" value="IRSACORP"/>
		<add key="SMTPHost" value="SMTPCORP.irsa.corp.ar"/>
		<add key="SMTPPort" value="25"/>
		<add key="AlertaRemitente" value="SPoszalski@cresud.com.ar"/>
		<add key="AlertaDestinatarios" value="SPoszalski@cresud.com.ar"/>
		<add key="AlertaCopiaDestinatarios" value="SPoszalski@cresud.com.ar"/>
		<add key="timer" value="1"/>		<!--En minutos-->
		<add key="timerToken" value="600"/>		<!--En minutos-->
		<add key="timerEstadosCDP" value="15"/>		<!--En minutos-->
		<add key="timerActualizadorAFIP" value="1440"/>		<!--En minutos-->


    <add key="Proxy" value="http://SRV-MS35-ADM:8080" />
    <add key="UserProxy" value="procmailer" />
    <add key="PassProxy" value="prc01mail#07snd" />

    <add key="WSAAServiceURL" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms?WSDL"/>
    <add key="CTGServiceURL" value="https://fwshomo.afip.gov.ar/wsctg/services/CTGService_v2.0"/>
    <add key="RutaCertificadop12" value="\\\\srv-ms10-adm\\p$\\Proyectos\\NET\\CartaDePorte\\CartaDePorte.WebService\\CUIT_30509300700.p12" />
    <add key="Certificadop12Password" value="123"/>

    <!--<add key="Certificadop12Password" value="30509300700"/>-->
    <add key="connString"  value="workstation id=CartaDePorte;Server=srv-ms10-adm;initial catalog=CartaDePorte;User Id=UsrAppCartaDePorte;PWD=carta1456;"  />
		<add key="URLWSSeguridad" value="http://srv-rst02-adm:8090/WebServices/SecurityProvider.asmx"/>
    <add key="CodigoAplicacion NO VAM MAS, AHORA ESTA EN LA TABLA GrupoEmpresa" value="33"/>
    <add key="RutaOriginalCartaDePorte" value="P:\\proyectos\\net\\CartaDePorte\\Content\\Images\\Cartadeporte\\"/>
		<add key="ReportServerURL" value="http://srv-rst02-adm/ReportServer"/>
		<add key="XIUrl" value="http://srv-xi03-adm:8000/XISOAPAdapter/MessageServlet?channel=:RE_Q:re_d_soap_prefact_sender&amp;version=3.0&amp;Sender.Service=RE_Q&amp;Interface=http%3A%2F%2Firsa.com%2Fxi%2Fre%2Fprefact%5Ere_prefacturas_out_async_MI"/>
	</appSettings>
	<connectionStrings/>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="cdp_ws_%date{yyyyMMdd}.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
  </system.web>
</configuration>
